* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

$sidemenu-width: 250px;
$gnb-height: 50px;
.app {
  width: 100%;

  .gnb {
    width: 100%;
    height: $gnb-height;
    background-color: #112c15;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 100;

    justify-content: space-between;

    .menu {
      display: flex;
    }

    .title {
      padding: 1em;
      font-weight: bold;
      width: $sidemenu-width;
    }
    .menus {
      display: flex;
      gap: 0.3em;
      font-size: 0.8em;

      .menu {
        align-self: center;
        padding: 1em 3em;
        cursor: pointer;
        text-align: center;
        color: white;

        &:hover {
          background-color: #1e4d2b;
        }
        &.selected {
          background-color: #205428;
          font-weight: bold;
        }
      }
    }

    .search {
      margin-right: 1em;
      padding: 0.5em;
      border-radius: 2em;
      box-sizing: border-box;
      border: 2px solid transparent;
      cursor: pointer;
      color: #cacaca;

      &:hover {
        border: 2px solid #85aa8a;
        background-color: #1e4d2b;
        color: #e9e9e9;
      }

      & > * {
        margin-right: 0.5em;
      }

      .keycap {
        margin-right: 0.3em;
        position: relative;
        top: -1.3px;
      }
    }
  }
  .content {
    width: 100%;
    min-height: calc(100vh - $gnb-height);
    background-color: rgb(212, 223, 219);

    .entities-layout {
      display: flex;
      min-height: calc(100vh - 50px);

      .sidemenu {
        width: $sidemenu-width;
        background-color: #112c15;
        padding-top: 1em;
        font-size: 0.9em;
        position: sticky;
        left: 0;
        top: $gnb-height;
        min-height: calc(100vh - $gnb-height);

        .entity-list-item {
          padding: 0.3em 0.8em;
          cursor: pointer;
          font-weight: normal;
          display: block;

          color: white;
          font-weight: normal;
          &:hover {
            background-color: #1e4d2b;
          }
          &.selected {
            background-color: #205428;
            font-weight: bold;
          }
        }

        .footer-buttons {
          padding-bottom: 1rem;
        }
      }

      .entities-detail {
        flex: 1;
        padding: 2em;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        gap: 2em;

        .ui.table {
          font-size: 0.8em;

          th {
            padding: 0.3em 0.8em;
          }
          td {
            padding: 0.2em 0.8em;
          }

          tr.cursor-row-pointed {
            background-color: #f1fff5;
            td,
            th {
              font-weight: 600;
              &.cursor-cell-pointed {
                background-color: #b1f3c4;
                border: 1px solid green;
              }
            }
          }

          .footer-buttons {
            text-align: center;
            padding: 1em;
          }
        }
        .ui.label {
          font-size: 0.8em;
          padding: 0.3em 0.6em 0.4em 0.6em;
        }

        .entity-base {
          position: relative;

          .btn-del-entity {
            position: absolute;
            font-size: 0.4em;
            right: 0;
            top: 0;
          }
        }

        .props-and-indexes {
          display: flex;
          gap: 1em;

          .props {
            flex: 1;
          }
          .indexes {
            flex: 0.5;
          }
        }

        .enums-and-subsets {
          display: flex;
          gap: 2em;

          .enums {
            flex: 1;

            .enums-list {
              display: flex;
              flex-wrap: wrap;
              gap: 2em;

              .enums-table {
                width: 20em;

                th {
                  position: relative;
                  .ui.btn-del-enum {
                    position: absolute;
                    top: 0.4em;
                    right: 0.2em;
                    font-size: 0.7em;
                    margin-left: 0.5em;
                  }
                }
                td {
                  width: 10em;
                  .sheet-cell-input {
                    padding: 0;

                    input {
                      border: 0;
                      border-radius: 0;
                      width: 100%;
                    }
                  }
                }
              }
              .btn-add-enum-label {
                display: flex;
                margin: 0 auto;
                padding: 0.3em 1em;
              }
            }
          }
          .subsets {
            flex: 0.5;

            .btn-relation-entity {
              font-size: 0.8em;
              padding: 0.3em 0.7em;
              margin-left: 0.5em;
            }

            .ui.btn-del-subset {
              top: 0.4em;
              right: 0.2em;
              font-size: 0.7em;
              margin-left: 0.5em;
            }
          }
        }
      }

      .move-to-top {
        position: fixed;
        right: 1em;
        bottom: 1em;
        z-index: 1000;
        background-color: #112c15;
        color: white;
      }
    }
  }
}

.ui.input.sheet-cell-input {
  > input {
    padding: 0.2em 0.4em;
  }
}

.flex {
  display: flex;
}
.text-center {
  text-align: center;
}

code {
  width: 100%;
  max-width: 700px;
  white-space: pre-wrap;
  word-break: break-all;
  display: block;
  background-color: #e0eae0;
  padding: 1em;
  margin: 1em;
  font-size: 0.8em !important;
  text-align: left;
}

.ui.common-modal {
  .actions {
    padding: 0;
    position: relative;

    .floating-close {
      position: absolute;
      right: -30px;
      bottom: -20px;
    }
  }
  .content {
    padding: 0;
    color: #000;
  }
}

.ui .string-array-input {
  margin: 0;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  line-height: 1.21428571em;
  padding: 0.47857143em 0.8em;
  font-size: 1em;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 0 transparent inset;
  transition: color 0.1s ease, border-color 0.1s ease;

  display: flex;
  .old-value {
    padding: 0.2em 0.7em;
    margin-right: 0.3em;
    background-color: #b5d9bf;
    border-radius: 0.3em;
    font-size: 0.8em;

    .remove-button {
      margin-left: 0.4em;
      cursor: pointer;
    }
  }
  input {
    padding: 0.2em !important;
    padding-left: 0.2em !important;
    margin: 0;
    border: 0 !important;
  }
}

.ui.form .ui.input.editable-input {
  &.is-dirty {
    input {
      border: 1px solid red;
      background-color: rgb(255, 217, 217);
    }
  }
}

.message-box {
  width: 50em;
  margin: 30vh auto;
  white-space: pre-line;
  padding: 3em;
  background-color: white;
  line-height: 2em;

  &.error {
    border: 2px solid red;
  }
  &.warning {
    border: 2px solid orange;
  }
}

.migrations-index {
  padding: 2em;

  .tools {
    display: flex;
    gap: 2em;

    .code-buttons {
      flex: 1;
    }
    .conn-preset-buttons {
      text-align: right;
    }
  }

  .ui.table {
    font-size: 0.9em;
    th {
      padding: 0.5em 0.8em;
    }
    td {
      padding: 0.5em 0.8em;
    }

    th,
    td {
      &.conn-status {
        text-align: center;
      }
      &.conn-selected {
        background-color: #dafde6;
      }
    }
  }

  .prepared {
    padding: 1em;

    h3 {
      position: relative;

      .buttons {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  .codes {
    padding: 1em;
  }
  .conns {
    padding: 1em;
  }
}

// semantic-ui-react Table에서 rowSpan한 경우 보더 라인이 깨지는 현상을 해결하기 위한 스타일
.ui.table {
  &.ui.celled.table tr td:first-child,
  &.ui.celled.table tr th:first-child {
    border-left: 1px solid rgba(34, 36, 38, 0.1);
  }
}

.ui.table .table-empty {
  td {
    text-align: center;
    padding: 1em;
  }
}

.code-viewer {
  display: flex;
  align-items: flex-start;

  code {
    flex: 1;
    margin: 0.2em;
  }

  div {
    margin: 0 auto;
  }
}

.migration-commit-form {
  .conns {
    display: flex;
    width: 100%;
    gap: 0.5em;
    margin: 1em;

    .conn {
      flex: 1;
      text-align: center;
      padding: 1em;
      background-color: #f1fff5;
      border: 1px solid #b1f3c4;
      border-radius: 0.3em;
      opacity: 0.3;

      &.is-targeted {
        background-color: #b1f3c4;
        color: green;
        font-weight: bold;
        opacity: 1;
      }
    }
  }

  .ui.form {
    width: auto;
  }
}

.ui.table tr {
  &.drag-enter {
    td {
      border-top: 1px solid red !important;
    }
  }
}

.scaffolding-index {
  display: flex;
  justify-content: flex-start;
  min-height: calc(100vh - 50px);

  h3,
  h4 {
    margin-bottom: 0.2em;
  }

  .ui.checkbox label,
  .ui.checkbox + label {
    color: white !important;

    &:hover,
    &:active {
      color: white;
    }
  }

  .ui.checkbox {
    padding: 0.4em;
    display: flex;

    label {
      // width: 14em;
      opacity: 0.7;
      flex: 1;
    }

    &.checked label {
      font-weight: bold;
      opacity: 1;
    }
  }

  .entities {
    color: white;
    background-color: #112c15;
    padding: 1em;
    padding-right: 0;
    width: 420px;
    height: calc(100vh - $gnb-height);
    position: sticky;
    left: 0;
    top: $gnb-height;
    width: 250px;
    overflow-y: scroll;

    .entity {
      cursor: pointer;
      &:hover {
        background-color: #1e4d2b;
      }
    }
  }

  .button-set {
    padding: 0.3em;
    text-align: center;

    .ui.button {
      display: block;
      margin: 0.5em auto;
    }

    .selected-count {
      color: white;
      font-size: 0.9em;
      height: 1.5em;
      opacity: 0;
      transition: opacity 0.2s ease;

      &.is-showing {
        opacity: 1;
      }
    }
  }

  .template-groups {
    background-color: #112c15;
    padding: 0.3em;
    padding-left: 2em;
    border-left: 1px solid #85aa8a;
    height: calc(100vh - $gnb-height);
    position: sticky;
    left: 0;
    top: $gnb-height;
    color: white;
    width: 250px;
    overflow-y: scroll;

    .template-group {
      padding: 1em 0;
    }

    .template-key {
      cursor: pointer;
      &:hover {
        background-color: #1e4d2b;
      }
    }
  }

  .enums-list {
    background-color: #112c15;
    padding: 1em;
    padding-left: 2em;
    border-left: 1px solid #85aa8a;
    height: calc(100vh - $gnb-height);
    position: sticky;
    left: 0;
    top: $gnb-height;
    color: white;
    width: 250px;
    overflow-y: scroll;

    .enums {
      cursor: pointer;
      &:hover {
        background-color: #1e4d2b;
      }

      .ui.checkbox {
        font-size: 0.8em;
      }
    }
  }

  .content {
    flex: 1;
    padding: 1em;
    .message-box {
      width: auto;
    }

    .statuses {
      .ui.table {
        font-size: 0.9em;

        th {
          padding: 0.5em 0.8em;
        }
        td {
          padding: 0.5em 0.8em;
        }

        tr.negative {
          td:nth-child(1),
          td:nth-child(2) {
            opacity: 0.4;
          }
        }
      }
    }
  }
}

.search-modal {
  .search-result {
    background-color: #f3f3f3 !important;
    margin-top: 0.3em !important;
    padding-left: 1em !important;

    .sub-item {
      margin-left: 1em;
    }

    .click-item {
      &:hover {
        background-color: #d0dbb0 !important;
      }
    }
  }
}

.keycap {
  font-size: 0.8em;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
  margin: 0.2em;
  border: 1.4px solid #909090;
  background-color: #d1d1d1;
  color: #333;
  box-shadow: 0 2px 2px 0.5px #05050563;
  border-bottom: 2.5px solid #808080;
}

.search-modal {
  .selected {
    background-color: #d0dbb0 !important;
  }
}

.chat {
  .chat-box {
    height: calc(100vh - $gnb-height);
    overflow-y: scroll;
    padding-top: 1em;
    padding-bottom: 5em;

    .chat-list {
      display: flex;
      flex-direction: column;
      width: 700px;
      margin: 0 auto;

      .chat-item {
        gap: 1em;
        margin-bottom: 1.5em;
        text-align: left;
        padding: 1em 1.3em !important;
        border-radius: 1.5em;
        background-color: #f5f5f5;

        code {
          all: initial;
          /* width 넘을 경우 줄바꿈 */
          white-space: pre-wrap;
        }

        li > p {
          margin: 0;
        }

        li {
          margin: 0.2em 0;
        }

        .content {
          min-height: 0 !important;
          height: fit-content !important;
        }
      }

      .me {
        background-color: #98d389;
        align-self: flex-end;
        max-width: 90%;
      }
    }
  }

  .chat-form {
    z-index: 100;
    width: 750px;
    position: absolute !important;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    .form-box {
      position: relative;
      flex: 1;
    }

    .ui.textarea {
      width: 100%;
      padding-right: 3em;
    }

    .ui.button {
      position: absolute !important;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .ui.dropdown {
    position: absolute !important;

    .menu {
      max-height: 200px;
      overflow-y: scroll;
    }
  }
}
